<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

    <turboFilter class="ch.qos.logback.classic.turbo.MDCFilter">
        <MDCKey>requestURI</MDCKey>
        <Value>/actuator/prometheus</Value>
        <OnMatch>DENY</OnMatch>
    </turboFilter>

</configuration>
